// https://coolors.co/000500-acadbc-2e4057-205f83-ff5f29

$background-color: #000500;
$foreground-color: #acadbc;
$primary-color: #308ec5;
$secondary-color: #2e4057;

$font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
  "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
  "Noto Color Emoji";
